.cardView {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 323px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(114, 114, 114, 0.25);
  border-radius: 10px;
}

.openQuote {
  align-self: flex-start;
}

.closeQuote {
  align-self: flex-end;
}

.name {
  display: block;
  color: #443f3f;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}
.job {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #cd4b03;
}

.clientInfo {
  margin-left: 12px;
  text-align: left;
}
.label {
  padding: 0 16px;
  font-weight: 200;
  font-size: 16px;
  text-align: left;
}
@media only screen and (max-width: 1180px) and (min-width: 901px) {
  .cardView {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 323px;
    margin: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(114, 114, 114, 0.25);
    border-radius: 10px;
  }
  .label {
    padding: 0 16px;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
  }
  .imageWidth {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 900px) and (min-width: 806px) {
  .cardView {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;
    height: 323px;
    margin: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(114, 114, 114, 0.25);
    border-radius: 10px;
  }
  .label {
    padding: 0 16px;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
  }
  .imageWidth {
    width: 30px;
    height: 30px;
  }
}
@media only screen and (max-width: 600px) {
  .cardView {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 323px;
    margin: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(114, 114, 114, 0.25);
    border-radius: 10px;
  }
  .label {
    padding: 0 16px;
    font-weight: 200;
    font-size: 13px;
    text-align: left;
  }
  .imageWidth {
    width: 30px;
    height: 30px;
  }
}
